<h1 class="text-center">The Only App to Track Your Beer Festivals</h1>

<div class="col-xs-12 col-sm-7">
	<div class="row">
		<div class="col-xs-4 col-sm-3">
			<div class="numberCircle">1</div>
		</div>
		<div class="col-xs-8 col-sm-9 home-points">
			<span class="home-points-headline">Find Upcoming Festivals</span>
			<br />
			You will have access to a list of upcoming beer fests. Get advanced notice of which festivals will be coming to your area.
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-3">
			<div class="numberCircle">2</div>
		</div>
		<div class="col-xs-8 col-sm-9 home-points">
			<span class="home-points-headline">Pre-Select Beers You Want to Try</span>
			<br />
			Access the list of breweries and what they are bringing. Add beers you would like to try to your wishlist ahead of time.
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-3">
			<div class="numberCircle">3</div>
		</div>
		<div class="col-xs-8 col-sm-9 home-points">
			<span class="home-points-headline">Rate the Beers You Sample</span>
			<br />
			Rate and take notes about the beers you try so you know which ones to pick up when you get home.
		</div>
	</div>

	<br />

	<div class="row">
		<span class="hidden-xs col-sm-3"></span>
		<div class="col-xs-12 col-sm-9">
			<%= link_to 'Track Your Next Beer Fest!', signup_path, :class => 'btn btn-success btn-block', :type => 'button' %>
		</div>
	</div>

</div>


<div class="col-xs-12 col-sm-5">
	<%= image_tag 'beer.JPG', :class => 'img-responsive img-rounded home-img' %>
</div>

<br class="clear" />
<br />
<br />
<br />