<h1 class="text-center">The App is Almost Ready!</h1>
<div class="hidden-xs col-sm-2"></div>
<div class="col-xs-12 col-sm-8">
	<p>We are working hard to put together the Track Beer Fests app. A beta test will be released soon for select beer festivals. If you would like to be one of the first to try out this app, <strong>sign up below to be placed on the priority access list.</strong></p>

	<br /><br />

	<div class="col-xs-12">
		<%= simple_form_for @user do |f| %>
		  <%= f.input :email %>
		  <br />
		  <%= f.submit 'Get Priority Access', :class => 'btn btn-danger' %>
		<% end %>
	</div>
</div>
<div class="hidden-xs col-sm-2"></div>

<br class="clear" /><br /><br /><br />