<h1 class="text-center">The App is Almost Ready!</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8">
	<p>We are working hard to put together the Track Beer Fest app. We will be releasing a beta test of the app soon for select beer festivals. If you would like to be one of the first beer snobs to try out this app, sign up below to be placed on the priority access list.</p>
	<p><strong><em>Thanks for your interest!</em></strong></p>
</div>
<div class="col-xs-2"></div>