@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.clear {
	clear: both;
}

.my_headline_font_size {
	font-size: 20px;
}

/***** Begin Logo CSS *****/

.logo {
  background:#fff;
  position:relative;
  padding-top:1em;
  padding-left:2em;
  font-size:4px;
  float:left;
  height:16.5em;
  
  .title {
    float:left;
    font-size:6em;

    font-family:'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight:400;
    letter-spacing:0.025em;

    a {
      color:#184668;
      text-decoration:none;
      transition:.5s;
    }
  }
}

/***** End Logo CSS *****/

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 2.2em;
  text-align: left;
}

.nav {
	padding-top: 1.2em;

}

header {
  border-top: 9px solid #184668;
  padding-top:5px;
  margin-bottom:-10px;
  margin-right:0px;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-bottom:40px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}


.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 90px;
    height: 90px;
    padding: 8px;

    background: #fff;
    border: 2px solid #184668;
    color: #184668;
    text-align: center;

    font-size: 50px;
}

.row {
	padding-bottom:25px;
}

.home-img {
	vertical-align: middle;
}

.home-points {
	text-align: left;
}

.home-points-headline {
	font-weight: bold;
	font-size: 20px;
}	

.middleimages {
    /* Display them as inline-blocks; */
    display: inline-block;
    text-align: center;
}

